<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh-Hans</string>
    <key>CFBundleDisplayName</key>
    <string>LumenWall</string>
    <key>CFBundleExecutable</key>
    <string>LumenWall</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.lumenwall.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>LumenWall</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.18</string>
	<key>CFBundleVersion</key>
	<string>18</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>cdn.apc.360.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
</dict>
</plist>
